<div class="container">
	<div class="jumbotron">
		<h1><%= t '.title' %></h1>
		<p class="lead"><%= t '.paragraph' %></p>
		<a class="btn btn-lg btn-primary" href="#" role="button"><%= t '.button_title' %></a>
  </div>
</div>
