<div class="container">
	<div class="jumbotron">
		<h1>Bienvenido a Economía Familiar</h1>
		<p class="lead">En esta web encontraras todos los movimientos realizados en tus cuentas, podrás consultar el gasto por determinados conceptos e incluso podrás saber que gastos faltan por llegar....</p>
		<a class="btn btn-lg btn-primary" href="#" role="button">Pasemos a la acción</a>
  </div>
</div>
