<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Informes</h1>
    <p class="lead">Aquí encontrarás un sin fin de informes para analizar tus gastos...</p>
	</div>
</div>