<h1>Información anual</h1>

<div class="table-responsive">
<table class="table table-bordered table-sm">
	<thead>
		<th></th>
		<% @pivotTable.column_headers.each do |column_header| %>
		<th><%= column_header %></th>
		<% end %>
	</thead>
	<tbody>
		<% @pivotTable.rows.each do |row| %>
		<tr>
			<th scope="row"><%= row.header %></th>
			<% row.data.each do |data| %>
			<td><% if data %><%= '%.2f€' % data %><% end %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
</div>